{% extends 'base.html' %}
{% load static %} 

{% block title %}密碼已重設{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">密碼已重設成功</h2>
                </div>
                <div class="card-body text-center">
                    <p>您的密碼已重設成功，您現在可以<a href="{% url 'login' %}">登入</a>。</p>
                    <a href="{% url 'login' %}" class="btn btn-primary w-100">登入</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}