<!-- filepath: /c:/Users/zoe.lin/Desktop/web-projects/django-projects/portfolio/templates/project_list.html -->
{% extends 'base.html' %}

{% block title %}作品列表{% endblock %}

{% block content %}
    <div class="container">
        <h2>作品列表</h2>
        <div class="card-container">
            {% for project in projects %}
                <div class="card">
                    <div class="card-header">
                        <h2>{{ project.name }}</h2>
                        <div class="tags">
                            <ul>
                                {% for tag in project.tags.all %}
                                    <li>{{ tag.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'project-detail' project.pk %}" class="btn">查看詳情</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}