{% extends 'base.html' %}
{% load static %} 

{% block content %}
<div class="container mt-4">
    <h1>我喜歡的文章</h1>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                    {% else %}
                        <img src="{% static 'post_images/default.jpg' %}" class="card-img-top" alt="預設圖片">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.get_category_display }}</p>
                        <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">閱讀更多</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}